@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: rgb(215, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 5px;
}
.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-title img {
  background: white;
  padding: 5px;
  border-radius: 50%;
  stroke: #d70000;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar-input {
  min-width: 300px;
  font-size: 18px;
  padding-left: 8px;
  height: 100%;
}

.search-bar-icon {
  background: white;
  padding: 2px 5px;
  display: flex;
  height: 25px;
  cursor: pointer;
  border: none;
}

.header-cart {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;
}

.cart-clear-btn {
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  align-self: start;
  cursor: pointer;
  display: none;
}

.cart-clear-btn.active {
  display: block;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  gap: 15px;
}

.categories-title {
  font-size: 35px;
  letter-spacing: 1px;
}

.categories-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categories-items button {
  font-size: 20px;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.categories-items button:hover,
.categories-items button.active {
  background: rgb(225, 0, 0);
  color: white;
}
.products-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.products-section-title {
  font-size: 25px;
  letter-spacing: 1px;
  padding: 30px 20px 10px 30px;
  border-bottom: 2px solid gray;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.product-item {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px;
}
.product-item-sale-info {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #d70000;
  padding: 5px 15px;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
}
.product-item.on-sale .product-item-sale-info {
  display: block;
}
.product-item:hover {
  -webkit-box-shadow: 0px 0px 30px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 30px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 30px -3px rgba(66, 68, 90, 1);
}
.product-item img {
  width: 260px;
}

.product-name {
  font-size: 25px;
  font-weight: bold;
}
.product-description {
  color: grey;
  font-size: 15px;
  line-height: 22px;
}

.product-price {
  color: green;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-price .price-sale {
  display: none;
}
.product-item.on-sale .price {
  color: black;
  font-size: 13px;
  position: relative;
}
.product-item.on-sale .price::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: black;
  top: 50%;
  left: -5%;
  transform: rotate(-10deg);
}
.product-item.on-sale .price-sale {
  display: block;
}

.btn-add-product {
  background-color: rgb(225, 0, 0);
  color: white;
  width: 60%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-add-product:hover {
  background-color: rgb(211, 50, 50);
}

.empty-state {
  display: none;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.empty-state.active {
  display: block;
}
@media screen and (min-width: 1280px) {
  .container {
    display: flex;
  }
  .categories-items {
    flex-direction: column;
  }
  .categories {
    margin: 50px 0px 0px 0px;
    border-right: 2px solid rgb(135, 135, 135);
    min-width: 300px;
  }
  .categories-items button {
    padding: 10px 50px;
    border-radius: 5px;
  }
  .categories-title {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .products {
    margin-left: 15px;
  }
}
